.login-page-nav-bar{
        display: flex;
        background-color: #1effbb;
        justify-content: space-around;
}

.login-page-nav-icons{
        display: flex;
        justify-content :flex-start ;
}

.login-page-nav-icons{
        display: flex;
        justify-content :flex-start ;
}

.login-page-login-signup{
        display: flex;
        justify-content :flex-start;
}